<ion-header>
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>2019-09-10</ion-card-subtitle>
          <ion-card-title>CQ WW SSB</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-button color="warning" shape="round">export</ion-button>
          <ion-button color="success" shape="round">edit</ion-button>
          <ion-button color="danger" shape="round">delete</ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>2019-09-07</ion-card-subtitle>
          <ion-card-title>SSB Fieldday 2019</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-button color="warning" shape="round">export</ion-button>
          <ion-button color="success" shape="round">edit</ion-button>
          <ion-button color="danger" shape="round">delete</ion-button>
        </ion-card-content>
      </ion-card>


</ion-content>
