<ion-header>
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let qsos of qsoHistory; let i = index">
        <ion-card-header>
        <ion-card-subtitle>{{qsos.timeSaved}}</ion-card-subtitle>
          <ion-card-title>{{qsos.name}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-button color="warning" shape="round">export</ion-button>
          <ion-button color="success" shape="round">edit</ion-button>
          <ion-button color="danger" shape="round">delete</ion-button>
        </ion-card-content>
      </ion-card>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="saveQsoDialog()" >
          <ion-icon name="save"></ion-icon>
        </ion-fab-button>
      </ion-fab>


</ion-content>
