<ion-header>
  <ion-toolbar>
    <ion-title>
      Log
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-align-items-stretch">
        <ion-col>
          <div>
            <input [(ngModel)]="form.call" type="text" placeholder="Call">
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-select [(ngModel)]="form.band" placeholder="Band">
              <ion-select-option value="2m">2m</ion-select-option>
              <ion-select-option value="70cm">70cm</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-stretch">
        <ion-col>
          <div>
            <input [(ngModel)]="form.rstGiven" type="number" placeholder="RST TX">
          </div>
        </ion-col>
        <ion-col>
          <div>
            <input [(ngModel)]="form.rstReceived" type="number" placeholder="RST RX">
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-stretch">
        <ion-col>
          <div>
            <input [(ngModel)]="form.exchangeGiven" type="text" placeholder="Ex TX">
          </div>
        </ion-col>
        <ion-col>
          <div>
            <input [(ngModel)]="form.exchangeReceived" type="text" placeholder="Ex RX">
          </div>
        </ion-col>
      </ion-row>
      <br />
      <ion-button color="secondary" expand="block" shape="round" (click)="logQso()">Add QSO</ion-button>

    </ion-grid>
  </ion-card-content>
</ion-card>

<ion-content>

  <ion-list>
    <ion-list-header>
      Recent QSOs
    </ion-list-header>

    <ion-item *ngFor="let qso of qsos; let i = index">
      <ion-label>
        <h2>{{qso.time}} &nbsp; <strong>{{qso.call}}</strong> </h2>
      </ion-label>
      <ion-button (click)="showEditDialog(i)" color="tertiary" shape="round">edit</ion-button>
      <ion-button (click)="deleteQso(i)" color="danger" shape="round">delete</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
