.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}


input {
  border-radius: 30px;
  border-spacing: 3px;
  border-style: none;
  border-color: #aaaaaa;
  padding: 10px;
  background-color: #eeeeee;
  width: 97%;
}

textarea:focus, input:focus{
  outline: none;
  border: solid 1px var(--ion-color-tertiary);
}