<ion-header class="ion-no-border">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>Edit QSO</ion-title>
        </ion-col>
        <ion-col>
          <ion-button color="secondary" shape="round" size="small" strong="true" expand="block">Save QSO</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>   
</ion-header>


<ion-content>

  <ion-item>
    <ion-label position="floating">Time</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="qsoParams.time">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Call</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="qsoParams.call">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Band</ion-label>
  <ion-select placeholder="Band" [(ngModel)]="qsoParams.band">
    <ion-select-option value="2m">2m</ion-select-option>
    <ion-select-option value="70cm">70cm</ion-select-option>
  </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">RST TX</ion-label>
    <ion-input
      type="number"
      [(ngModel)]="qsoParams.rstGiven">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">RST RX</ion-label>
    <ion-input
      type="number"
      [(ngModel)]="qsoParams.rstReceived">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">EX TX</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="qsoParams.exchangeGiven">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">EX RX</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="qsoParams.exchangeReceived">
    </ion-input>
  </ion-item>

</ion-content>
